{
    "CLIENT_AWMS_WEB_APP_ROOT_URL": "https://portal.thelemontreecompany.co.uk",
    "CLIENT_AWMS_WEB_APP_REDIRECT_URIS": [
        "/oauth/redirect"
    ],
    "CLIENT_AWMS_WEB_APP_WEB_ORIGINS": [
        "/"
    ]
}